@import "./variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: var(--text);
    overflow-x: hidden;
    background: var(--background);
}

h1 {
    font-size: calc(1.5rem + 2vw);
    font-weight: 800;
}

.btn {
    padding: var(--interspace);
    margin: var(--interspace);
    background: var(--secondary);
    border-radius: var(--radius);
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: var(--transition);
}

.btn:hover {
    -webkit-box-shadow: 3px 3px 0px 0px var(--chosen);
    -moz-box-shadow: 3px 3px 0px 0px var(--chosen);
    box-shadow: 3px 3px 0px 0px var(--chosen);
}

section {
    margin: 0 0 12rem 0;
}

.container-sm {
    margin: 0 auto;
    width: var(--con-sm);
}

.container-md {
    margin: 0 auto;
    width: var(--con-md);
}

.container-lg {
    margin: 0 auto;
    width: var(--con-lg);
}

@media screen and (max-width: 570px) {
    .container-sm,
    .container-md,
    .container-lg {
        width: 100%;
    }
}

/*================================NAV STYLES==========================*/

nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
    z-index: 3;
    background: var(--background);
}

.logos {
    display: flex;
}

.navLogosImg {
    min-height: 30px;
    height: 50px;
    width: auto;
    position: relative;
    z-index: 1;
}

.navLogosImg:last-child {
    margin-left: -10%;
    z-index: 0;
    filter: var(--svg-color);
}

.navBarWrapper {
    display: flex;
}

.navBarItem {
    padding: var(--interspace);
    color: var(--text);
}

.navCategories {
    position: relative;
}

.changeTheme {
    background: var(--primary);
}

.navCatHeader {
    align-items: center;
    white-space: nowrap;
    padding: var(--interspace) 0 var(--interspace) var(--interspace);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.navCatHeader > div {
    display: flex;
    align-items: center;
}

.catLessIcon {
    padding: var(--interspace);
}

.navIconBorder {
    border: 2px var(--tertiary) solid;
    border-radius: 50%;
    padding: var(--interspace);
    margin-right: var(--interspace);
}

.navCatContent {
    width: 350px;
    height: calc(100vh - (55px));
    background: var(--primary);
    border-radius: 0 0 var(--radius) var(--radius);
    position: absolute;
    top: 100%;
    right: 0;
    display: block;
    border-left: 1px var(--tertiary) solid;
    padding-left: var(--interspace);
    transform-origin: top;
    transform: scaleY(0);
}

.navCatTree {
    margin-top: var(--interspace);
}

.navCatTree li {
    background: var(--primary);
    padding: var(--interspace);
}

.navCatTree li:hover {
    background: var(--lighter-primary);
}

.navCatTree li:hover .nested li {
    background: var(--lighter-primary);
}

.caret {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extendSymbol {
    font-size: 1.3rem;
    transition: transform 0.3s ease;
}

.open .extendSymbol {
    transform: rotate(45deg);
}

.nested {
    list-style-type: circle !important;
    display: none;
}

.nested li {
    cursor: pointer;
    color: var(--text);
}

.nested li:hover {
    text-decoration: underline;
}

.active {
    display: block;
    border-bottom: var(--tertiary) 1px solid;
    animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navPreferences {
    margin: var(--interspace);
    width: 100%;
    height: 100%;
}

.themeMode {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin: var(--interspace);
}

.themeMode input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.themeMode input[type="checkbox"]:checked+label {
    transform: rotate(360deg);
    background-color: #000;
}

.themeMode input[type="checkbox"]:checked+label:before {
    transform: translateX(27px);
    background-color: #FFF;
}

.themeMode label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60px;
    height: 30px;
    border: 4px solid;
    border-radius: 34em;
    position: relative;
    transition: transform 0.75s ease-in-out;
    transform-origin: 50% 50%;
    cursor: pointer;
}

.themeMode label:before {
    transition: transform 0.75s ease;
    transition-delay: 0.5s;
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #000;
    border-radius: 50%;
    top: 2px;
    left: 3px;
}

@media screen and (max-width: 570px) {
    nav {
        justify-content: center;
    }
    .navCatContent {
        height: calc(100vh - (185px));
    }
}

/*================================FOOTER STYLES==========================*/

footer {
    padding: 3rem 0;
    background: var(--lighter-primary);
}

.footerWrapper {
    width: var(--con-lg);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.footerHeading {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
}

.footerLinks {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.links {
    display: flex;
    flex-direction: column;
    margin: var(--interspace);
}

.links p {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.links a {
    color: var(--text);
    display: flex;
    align-items: center;
    margin: 0.3rem 0;
}
.links a img {
    width: 30px;
}

/*================================ANIMATED MENU BUTTON==========================*/

.menuBtn span {
    display: block;
    width: 100%;
    border-radius: 2px;
    height: 3px;
    background: var(--sec-background);
    transition: all .3s;
    position: relative;
}

.menuBtn span+span {
    margin-top: 5px;
}

.opened span:nth-child(1) {
    animation: ease .7s top forwards;
}

.closed span:nth-child(1) {
    animation: ease .7s top-2 forwards;
}

.opened span:nth-child(2) {
    animation: ease .7s scaled forwards;
}

.closed span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
}

.opened span:nth-child(3) {
    animation: ease .7s bottom forwards;
}

.closed span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
}

.menuTrigger {
    width: 30px;
    cursor: pointer;
}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }

    50% {
        top: 8px;
        transform: rotate(0);
    }

    100% {
        top: 8px;
        transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
        top: 8px;
        transform: rotate(45deg);
    }

    50% {
        top: 8px;
        transform: rotate(0deg);
    }

    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }

    50% {
        bottom: 8px;
        transform: rotate(0);
    }

    100% {
        bottom: 8px;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 8px;
        transform: rotate(135deg);
    }

    50% {
        bottom: 8px;
        transform: rotate(0);
    }

    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes scaled {
    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

/*================================SEARCH FORM INPUT==========================*/

.searchWrapper {
    display: flex;
    border: 1px var(--tertiary) solid;
    border-radius: var(--radius);
    background: var(--background);
    padding: 0.3rem;
}

.searchWrapper hr {
    width: 1px;
    height: 139%;
    background: var(--tertiary);
    margin: -0.3rem 0.3rem 0 0.3rem;
}

.searchBtn {
    background: var(--background);
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1rem;
    transition: var(--transition);
    color: var(--text);
}

.searchBtn:hover {
    color: var(--chosen);
}

.searchInput {
    background: transparent;
    color: var(--text);
}

.searchInput::-webkit-search-cancel-button {
    -webkit-appearance: none;
}