nav {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px !important;
}

/*================================ARTICLE STYLES==========================*/

.latest {
    background: var(--accent);
    padding: 4rem;
}

.latest h1 {
    margin-bottom: 4rem;
}

.latestWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.latestItem {
    margin: var(--interspace);
    width: 350px;
    display: flex;
    flex-direction: column;
    background: var(--primary);
    padding: var(--interspace);
    border-radius: var(--radius);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.latestItem img {
    width: 5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.templateCalendar {
    width: 100%;
    padding: var(--interspace);
}

#calendar {
    width: 100%;
    padding: 0;
}

.vanilla-calendar-header {
    padding: var(--interspace);
    background: var(--sec-background);
}

.vanilla-calendar-month, 
.vanilla-calendar-year {
    color: var(--sec-text) !important;
}

.vanilla-calendar-arrow::before {
    background: var(--background) !important;
}

.vanilla-calendar-day {
    aspect-ratio: 1 / 1;
}

/*================================SEARCH PAGE STYLES==========================*/

.search {
    display: flex;
    position: relative;
    margin-top: 3rem;
}

#filters {
    transform-origin: top left;
}

.filtersWrapper {
    position: sticky;
    top: 80px;
    left: 0;
    padding: var(--interspace);
    margin: var(--interspace);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: var(--radius);
    border: 1px var(--tertiary) solid;
}

.filterItem {
    width: 100%;
    display: flex;
    border-bottom: 1px var(--tertiary) solid;
    padding: var(--interspace);
}

.filterItem:last-child {
    border: none;
}

.vanilla-calendar {
    padding: 0 !important;
}

.vanilla-calendar_month .vanilla-calendar-year {
    text-decoration: underline !important;
}

.byCategory {
    display: flex;
    flex-direction: column;
}

.filterInput {
    padding: 0.3rem;
    font-size: 1rem;
    background: transparent;
    color: var(--text);
}

.calendarFilterWrapper {
    align-items: center;
}

.calendarFilterWrapper > input {
    border-radius: var(--radius);
    border: 1px var(--tertiary) solid;
    margin-left: 0.3rem;
    width: 50%;
}

.resultBox {
    height: 100%;
    width: 100%;
}

.resultNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: var(--interspace);
}

.resultNav hr {
    width: 98%;
    height: 1px;
    background: var(--tertiary);
}

#filterMenu {
    display: none;
    align-items: center;
    position: relative;
}

#filtersPopup {
    display: none;
    background: var(--background);
    transform-origin: top left;
    position: absolute;
    top: 50%;
    left: -50%; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.resultNavWrapper {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    width: 100%;
}   

.resultSort {
    margin: 0 var(--interspace);
    font-size: 0.9em;
    display: flex;
    flex-wrap: wrap;
}

.sortSelect {
    padding: 0.2rem;
    border: 1px var(--tertiary) solid;
    border-radius: var(--radius);
}

.pageNum {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.pageNumInput {
    border: 1px var(--tertiary) solid;
    margin-right: 0.2rem;
    border-radius: var(--radius);
    text-align: center;
    width: 25px;
    font-size: 1.1rem;
    -moz-appearance: textfield;
}

.pageNumInput::-webkit-outer-spin-button,
.pageNumInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.resultItem {
    color: var(--text);
    margin: var(--interspace);
    padding: var(--interspace);
    border-bottom: 1px var(--primary) solid;
    display: flex;
    cursor: pointer;
    transition: var(--transition);
    border: 1px transparent solid;
}

.resultItem img {
    width: 5rem;
    aspect-ratio: 1/1;
    margin-right: var(--interspace);
}

.resultItem:hover {
    box-shadow: rgba(97, 151, 16, 0.15) 0px 5px 15px 0px;
    border-radius: var(--radius);
    border: 1px var(--primary) solid;
}

@media screen and (max-width: 1500px) {
    .templateHeading {
        max-width: 100%;
    }
    .itemCanFloat {
        max-width: 100%;
    }
}

/*================================INFO PAGE STYLES==========================*/

.accessories {
    margin-top: 3rem;
}

.accessoriesItem {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.accessoriesItemHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../public/images/sportPattern.jpg');

}

.accessoriesItemHeading h2 {
    font-size: calc(1rem + 1vw);
}

.accessoriesItemHeading > div {
    background: var(--background);
    border-radius: var(--radius);
    padding: var(--interspace);
    border: 1px var(--tertiary) solid;
    height: 100%;
}

.accessoriesItemTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.accessoriesIcon {
    width: 10rem;
    aspect-ratio: 1/1;
}

.accessoriesItemDesc {
    margin-top: 4rem;
}

.classificationTable {
    display: flex;
    flex-direction: column;
}

.accessoriesTableIcon {
    max-width: 10rem;
    aspect-ratio: 1/1;
}

.classificationTableRow {
    display: flex;
    margin: var(--interspace);
    border-bottom: 1px var(--primary) solid;
    padding: var(--interspace);
}

.classificationTableCell {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.classificationTableCell p {
    font-size: 1.1rem;
    font-weight: 600;
    word-break: break-all;
}

.classificationTableCell a {
    display: flex;
    align-items: center;
}

/*================================GALLERY STYLES==========================*/

.galleryWrapper {
    margin-top: 4rem;
}

.galleryTimeBox {
    margin-top: 2rem;
}

.galleryTimeBoxHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.galleryTitle {
    font-size: calc(1rem + 0.7vw);
    font-weight: 800;
}

.galleryDesc {
    color: var(--secondary);
}

.galleryImgWrapper {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.galleryImgItem {
    min-width: 50px;
    max-width: 270px;
    min-height: 50px;
    max-height: 270px;
    transition: var(--transition);
    position: relative;
    background: #000;
    margin: 5px;
}

.galleryImgItem:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.galleryImgIconWrapper {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.galleryIcon {
    padding: 1rem;
    color: #fff;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: var(--transition);
}

.galleryIcon:hover {
    transform: scale(1.1);
}

.galleryImgItem:hover .galleryImg { 
    filter: blur(1.5px);
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.5;
}

.galleryImgItem:hover .galleryImgIconWrapper {
    opacity: 1;
}

.galleryImg {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    cursor: pointer;
}

@media screen and (max-width: 570px) {
    .galleryImgWrapper {
        justify-content: center;
    }
    .galleryImgItem {

        aspect-ratio: 1/1;
        margin: 3px;
    }
    .galleryIcon:last-child {
        display: none;
    }
}

/*================================MODAL STYLES==========================*/

.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius);
    background: var(--background);
    position: relative;
    margin: auto;
    padding: 0;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: var(--text);
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: var(--transition);
}

.close:hover,
.close:focus {
    color: var(--chosen);
    text-decoration: none;
    cursor: pointer;
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    font-family: 'Inter', sans-serif;
    padding: 2px 16px;
    color: var(--text);
    border-radius: var(--radius) var(--radius) 0 0;
    background: var(--primary);
}

.modalBody {
    padding: 2px 16px;
    height: 100%;
}

.modalFooter {
    padding: 2px 16px;
    color: var(--text);
    border-radius: 0 0 var(--radius) var(--radius);
    background: var(--primary);
}

.fullScreenModal {
    width: 100%;
    min-height: 100vh;
}

.imgViewer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.imgViewMain {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.imgViewMain > img {
    max-width: 100%;
    height: auto;
    transform-origin: 50% 50%;
}

.imgViewControls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imgViewControls > div {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.imgViewControls span {
    color: #fff;
    transition: var(--transition);
    background: #0000006e;
    padding: 2rem;
    border-radius: 50%;
}

.imgViewControls span:hover {
    cursor: pointer;
    transform: scale(1.2);
    background: #00000094;
}

.imgsInfoWrapper {
    display: flex;
    align-items: start;
    flex-direction: column;
    background: var(--primary);
    padding: var(--interspace);
    border-radius: var(--radius);
}

.imgsViewWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    background: var(--primary);
    border-top: 1px var(--tertiary) solid;
    padding-top: 1.5rem;
    margin-top: 3rem;
}

.imgBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.imgBar > p {
    font-size: 1.2rem;
}

.imgBarIcon {
    padding: 1rem;
    color: #fff;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: var(--transition);
}

.imgBarIcon:hover {
    transform: scale(1.1);
}

.imgsViewItem {
    float: left;
    width: 140px;
    aspect-ratio: 1/1;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #000;
}

.imgsViewItem > span {
    padding: 1rem;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition);
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.imgsViewItem:hover > span {
    opacity: 1;
}

.imgsViewItem:hover img {
    opacity: 0.6;
    filter: blur(1px);
}

.imgsViewItem > img {
    object-fit: cover;
    width: 140px;
    aspect-ratio: 1/1;
}

@media screen and (max-width: 570px) {
    .imgsViewItem > img {
        width: 100px;
    }
    .imgsViewItem {
        width: 100px;
    }
    .imgViewControls > div {
        visibility: hidden;
    }
}

